// vars
$widthOfImage: 370px;
$heightOfImage: 510px;
$slidesSpeed: 2s;
$navsColor: #c4c4c4;
$navsHover: 0.4s;
$fszSlider: 18px;

.slider {
  display: flex;
  margin: 0 auto;
  width: $widthOfImage;
  flex-direction: column;
  align-items: center;

  @media (max-width: calc(992px + 30px)) {
    display: none;
  }

  &__inner {
    width: $widthOfImage;
    height: $heightOfImage;
    margin: 0 auto;
    overflow: hidden;
  }

  &__line {
    height: $heightOfImage;
    width: calc(#{$widthOfImage} * 4);
    display: flex;

    position: relative;
    left: 0;

    transition: left $slidesSpeed;
  }

  &__navs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
  }

  &__nav {
    font-family: "OpensansCondensedBold-700";
    font-size: $fszSlider;
    letter-spacing: 0.1em;
    color: $navsColor;
    text-transform: uppercase;

    background-color: transparent;
    outline: none;
    border: none;


    &-wrap {
      position: relative;
      width: 120px;
      height: 30px;
    }

    &:hover {
      cursor: pointer;
    }

    &-prev {
      transition: color $navsHover;
      position: absolute;
      left: 0;

      &::before {
        content: '';
        display: inline-block;
        width: 40px;
        height: 16px;

        background: url(../images/slider/prev.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        margin-right: 25px;

        transition: background $navsHover;
      }

      &--active {
        color: $fourthColor;
        position: absolute;
        left: 0;

        opacity: 0;

        transition: opacity $tranDur;

        &::before {
          content: '';
          display: inline-block;
          width: 40px;
          height: 16px;

          background: url(../images/slider/prev-active.svg);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;

          margin-right: 25px;
        }

        &:hover {
          opacity: 100;
        }
      }
    }

    &-next {
      transition: color $navsHover;
      position: absolute;
      right: 0;

      &::after {
        content: '';
        display: inline-block;
        width: 40px;
        height: 16px;

        background: url(../images/slider/next.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        margin-left: 25px;

        transition: background $navsHover;
      }

      &--active {
        color: $fourthColor;
        position: absolute;
        right: 0;

        opacity: 0;

        transition: opacity $tranDur;

        &::after {
          content: '';
          display: inline-block;
          width: 40px;
          height: 16px;

          background: url(../images/slider/next-active.svg);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;

          margin-left: 25px;
        }

        &:hover {
          opacity: 100;
        }

      }
    }
  }
}