@font-face {
  font-family: "OpensansCondensedlLight-300";
  src: url("/fonts/OpensansCondensedlLight-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpensansCondensedBold-400";
  src: url("/fonts/OpenSansRegular-400.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpensansCondensedBold-700";
  src: url("/fonts/OpensansCondensedBold-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
