@import './utils/vars';
@import './utils/mixins';
@import './fonts';

@import './reset';

@import './blocks/container';
@import './blocks/header';
@import './blocks/nav';
@import './blocks/nav-mobile';
@import './blocks/side-widget';
@import './blocks/slider';
@import './blocks/btn';
@import './blocks/about';
@import './blocks/staging';
@import './blocks/best-theater';
@import './blocks/partners';
@import './blocks/patron';
@import './blocks/footer';


* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $firstColor;
  color: $fourthColor;
  font-size: 16px;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: $firstColor;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $sixColor;
    border-radius: 20px;
  }
}
