//# colors
$firstColor: #333;
$secondColor: #d1a954;
$thirdColor: #c4c4c4;
$fourthColor: #fff;
$fifthColor: #989898;
$sixColor: #444444;

//# transition duration
$tranDur: 400ms;

//# Font sizes

//header
$headerFszSm: 14px;
$headerFszL2: 60px;
$headerFszL1: 64px;

// about
$aboutFszSm: 14px;
$aboutFszMd:16px;
$aboutFszL: 21px;

//staging
$stagingFszSm: 16px;
$stagingFszMd: 18px;
$stagingFszL: 24px;

// best-theater
$btFszSm1: 24px;
$btFszSm2: 32px;
$btFszMd: 36px;
$btFszL2: 50px;
$btFszL1: 72px;

// patron
$patronSm: 12px;
$patronMd: 16px;

// footer
$footerFsz: 12px;

// btn
$btnFsz: 18px;

// nav
$navFsz: 18px;

// nav-mobile
$navMobFsz: 24px;

// side-widget
$widgetFsz: 18px;
